<!DOCTYPE html>
<html>
  <head>
  </head>
  <title><%=h @details['name'] %></title>
  <body>
    <h1><%=h @details['name'] %></h1>
    <table border="1">
      <tbody>
        <tr>
          <td>Height</td>
          <td><%=h @details['height']%></td>
        </tr>
        <tr>
          <td>Mass</td>
          <td><%=h @details['mass'] %></td>
        </tr>
        <tr>
          <td>Hair color</td>
          <td><%=h @details['hair_color'] %></td>
        </tr>
        <tr>
          <td>Skin color</td>
          <td><%=h @details['skin_color'] %></td>
        </tr>
        <tr>
          <td>Eye color</td>
          <td><%=h @details['eye_color'] %></td>
        </tr>
        <tr>
          <td>Birth year</td>
          <td><%=h @details['birth_year'] %></td>
        </tr>
        <tr>
          <td>Gender</td>
          <td><%=h @details['gender'] %></td>
        </tr>
        <tr>
          <td>Homeworld</td>
          <td>
            <%= api_call(@details['homeworld'], true) %>
        </tr>
        <tr>
          <td>Films</td>
          <td>
            <table border="1" width="100%">
              <% @details['films'].each do |film| %>
                <tr>
                  <td><%= link_to api_call(film, false), "../films/#{get_id(film)}" %></td>
                </tr>
              <% end %>
            </table>
          </td>
        </tr>
        <tr>
          <td>Starships</td>
          <td>
            <table border="1" width="100%">
              <% @details['starships'].each do |starship| %>
                <tr>
                  <td><%= link_to api_call(starship, true), "../ships/#{get_id(starship)}" %></td>
                </tr>
              <% end %>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
