<!DOCTYPE html>
<html>
  <head>
    <title><%=h @details['title'] %></title>
  </head>
  <body>
    <h1><%=h @details['title'] %></h1>
    <table>
      <tbody>
        <tr>
          <td>Episode</td>
          <td><%=h @id %></td>
        </tr>
        <tr>
          <td>Director</td>
          <td><%=h @details['director'] %></td>
        </tr>
        <tr>
          <td>Producer(s)</td>
          <td><%=h @details['producer'] %></td>
        </tr>
        <tr>
          <td>Release date</td>
          <td><%=h @details['release_date'] %></td>
        </tr>
        <tr>
          <td>Opening crawl</td>
          <td><%=h @details['opening_crawl'] %></td>
        </tr>
        <tr>
          <td>Characters</td>
          <td>
            <table>
              <% @details['characters'].each do |character| %>
                <tr>
                  <td><%= link_to api_call(character, true), "../characters/#{get_id(character)}" %></td>
                </tr>
              <% end %>
            </table>
          </td>
        </tr>
        <tr>
          <td>Planets</td>
          <td>
            <table>
              <% @details['planets'].each do |planet| %>
                <tr>
                  <td><%= link_to api_call(planet, true), "../planets/#{get_id(planet)}" %></td>
                </tr>
              <% end %>
            </table>
          </td>
        </tr>
        <tr>
          <td>Starships</td>
          <td>
            <table>
              <% @details['starships'].each do |starship| %>
                <tr>
                  <td><%= link_to api_call(starship, true), "../ships/#{get_id(starship)}" %></td>
                </tr>
              <% end %>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
